ARTISTS=wilco,radiohead,drake,lady-gaga,hendrix-jimi
OPENAI_API_KEY=<openai key>
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_ORGANIZATION_ID=<openai org>
PINECONE_API_KEY=<pinecone key>
PINECONE_ENV=<pinecone env>
PINECONE_INDEX_NAME=songchat
